@page
@using Microsoft.AspNetCore.Mvc.Localization
@using SistemaRamais.Localization
@using SistemaRamais.Web.Pages.Ramais
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using SistemaRamais.Ramais;
@using System.Globalization
@inject IHtmlLocalizer<SistemaRamaisResource> L
@model EditModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/Ramais/EditModal" autocomplete="off">
    <abp-modal id="RamalEditModal">
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>

        <abp-modal-body>
@*//<suite-custom-code-block-1>*@
@*//</suite-custom-code-block-1>*@

            <abp-input asp-for="Id" />

                
                    
            <abp-input asp-for="Ramal.ConcurrencyStamp" hidden="true" suppress-label="true"/>
            

            <abp-input asp-for="Ramal.Nome"    />


            <abp-input asp-for="Ramal.Numero"    />


            <abp-input asp-for="Ramal.Departamento"    />


            <abp-input asp-for="Ramal.Email"    />

                    
                
@*//<suite-custom-code-block-2>*@
@*//</suite-custom-code-block-2>*@
@*//<suite-custom-code-block-3>*@
@*//</suite-custom-code-block-3>*@
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)">
@*//<suite-custom-code-block-4>*@
@*//</suite-custom-code-block-4>*@
        </abp-modal-footer>
    </abp-modal>
</form>
